target/**
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/target/
.settings
.classpath
.project
/.idea/
*.iml
.vscode/
.factorypath
.floo*
craftbukkit.jar
/server/logs/
/server/world/
/server/world_nether/
/server/world_the_end/
/server/banned-ips.json
/server/banned-players.json
/server/bukkit.yml
/server/commands.yml
/server/eula.txt
/server/help.yml
/server/ops.json
/server/permissions.yml
/server/server.properties
/server/spigot.yml
/server/usercache.json
/server/whitelist.json
/server/plugins/bStats/
/server/plugins/DiscordSRV/
/server/plugins/Essentials/
/server/plugins/LuckPerms/
/server/plugins/PlaceholderAPI/
/server/plugins/ProtocolLib/
/server/plugins/Towny/
/server/plugins/TownyDiscordChat/
/server/plugins/Vault/
/server/plugins/PluginMetrics/
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/TownyDiscordChat/v17/.suo
.vs/VSWorkspaceState.json
